<%- include('header') %>  
<section class="max-w-7xl mx-auto">
    <div class="flex justify-center items-center h-[100vh]">
        <div>
            <h4 class="text-center text-3xl text-green-600 font-medium">Add Tasks</h4>
            <img src="/images/main-page.jpg" class="mx-auto" width="300" height="300" alt="">
            <a href="/tasks/my-tasks" class="py-3 bg-gradient-to-r from-green-300 to-yellow-200 font-medium rounded-full w-3/4 mx-auto block text-center shadow-xl shadow-[#d2d2d2] text-xl text-green-700 hover:bg-gradient-to-tl transition-all cursor-pointer">Get Started</a>
        </div>
    </div>
</section>
<%- include('footer') %>  
